h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 72px;
	
}
p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;

}

body {
	background-image: url("../img/wood_pattern.png");
}

textarea {
	outline: none;
	resize: none;
	border: 1px solid;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	border-radius: 10px;
}

input {
    background-color:#ed8223;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:18px;
    line-height:30px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border:0;
    text-shadow:#C17C3A 0 -1px 0;
    width:120px;
    height:32px
                
               
}