h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 72px;
	color: white;
}
p1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: white;
}

p2 {
	text-align: center;
	font-family:'Montserrat', sans-serif;
	font-size: 30px;
	color: white;
}

p3 {
	text-align: center;
	font-family:'Open Sans', sans-serif;
	font-size: 20px;
	color: white;	
}

body {
	background-image: url("/static/background.png");
	background-size: 1300px;
}

textarea {
	resize: none;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	border-radius: 3px;
}

a {
	text-align: center;
}

#inputBox {
	border: 0px none;
	border-radius: 3px;
	text-align: center;
	background-color: gray;
	width: 625px;
	height: 144px;
}

#outputBox {
	display: none;
}

.image {
	padding: 20px;
	width: 3%;
	height: 3%;
}

.searchIcon {
	position: absolute;
	width: 2.5%;
	height: auto;
	margin-top: 63px;
	margin-left: -17px;
}

#output {
	position: absolute;
	display: none;
	z-index: 999;

}

#aboutus {
	width: 5%;
	height: auto;
}

#about {
	text-align: right;
	padding-right: 10px;
}