<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/main.js"></script>

        <link rel="stylesheet" href="css/stylesheet.css">


        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <title>phrasebook</title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <h1>About Us</h1>
        <br>
        </center>
        <center>
            <p2>James Kao</p2> 
            <br>
            <br>
            <p2>Jenny Lee</p2> 
            <br>
            <br>
            <p2>Katie Chu</p2> 
            <br>
            <br>
            <p2>Ali Mir</p2> 
            <br>
            <br>
            <p2>Alex Woo</p2> 
        </center>
    </body>
</html>