<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/main.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <title>phraseBook</title>
    </head>
    <body>
        <div id="input">
            <div id="about">
                <a href="about.html"><img id="aboutus" src="{{ url_for('static', filename='aboutus.icon.png') }}"></a>
            </div>
            <br>
            <h1>phrasebook</h1>
            <center> 
                <p3>Write a phrase about your day. </p3>
                <br>
                <br>
                <img class="image" src="{{ url_for('static', filename='book.icon.png') }}" >
                <img class="image" src="{{ url_for('static', filename='music.icon.png') }}">
                <img class="image" src="{{ url_for('static', filename='movie.icon.png') }}">
                <div id="inputBox">
                    <textarea id="input_text" placeholder =" What's on your mind right now? Write it all out." cols = "53" rows = "6"></textarea>
                    <a href="#">
                        <img id="query" class="searchIcon" src="{{ url_for('static', filename='search.icon.png') }}"> 
                    </a>        
                </div>

                <div id="outputBox">
                    <p id="sentiment_text">Your sentiment here: </p>     
                </div>
            </center>
            <br>
            
        </div>
    </body>

</html>